nav, ul, li, a {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #343A40;
}
nav ul {
    list-style-type: none;
    overflow: hidden;
}
nav ul li {
    float: left;
    width: 15%;
}

nav ul li a {
    padding: 20px;
    text-align: center;
    display: block;
    color: #ffffff;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #aaaaaa;
}
@media screen and (max-width: 600px) {
    nav ul li {
        float: none;
        width: 100%;
    }
}
