.flex-container, .flex-item{
    box-sizing: border-box;
}
.flex-container{
    display:flex;
    flex-wrap: nowrap;
    width: 80%;
    padding: 10px;
    border: 1px solid black;
}

.flex-item{
    flex-basis: 100px;
    flex-grow: 0;
    padding: 10px;
    margin: 1%;
    border: 1px solid black;
}

.flex-item:nth-child(1){
    flex-grow:4;
}

.flex-item:nth-child(2){
    flex-grow:1;
}

