section {
    box-sizing: border-box;
}
body {
    margin: 0;
}
#kolom1 {
    background-color: #b2ddea;
}
#kolom2 {
    background-color: #83b8c8;
}
#kolom3 {
    background-color: #478598;
}
#kolom4 {
    background-color: #1b4f5f;
}

section {
    width: 25%;
    padding: 20px;
    float: left;
}
@media screen and (max-width: 960px) {
    section {
        width: 50%;
    }
}
@media screen and (max-width: 640px) {
    section {
        width: 100%;
        float: none;
    }
}
