td {
    border: 1px black solid;
}

table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
}

tr:nth-child(1) td:nth-child(1) {
    background-color: green;
}

tr:nth-child(1) td:nth-child(2) {
    background-color: red;
}

tr:nth-child(2) td:nth-child(1) {
    background-color: blue;
}

tr:nth-child(2) td:nth-child(2) {
    background-color: red;
}

tr:nth-child(2) td:nth-child(3) {
    background-color: yellow;
}

tr:nth-child(3) td:nth-child(1) {
    background-color: green;
}

tr:nth-child(4) td:nth-child(1) {
    background-color: blue;
}

tr:nth-child(5) td:nth-child(1) {
    background-color: yellow;
}