body {
    background-image: url("assets/hout.jpg");
}

td {
    height: 50px;
    width: 50px;
    text-align: center;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

tr:nth-child(odd) td:nth-child(odd) {
    background-image: url("assets/witte-marmer.jpg");
}

tr:nth-child(odd) td:nth-child(even) {
    background-image: url("assets/zwarte-marmer.jpg");
}

tr:nth-child(even) td:nth-child(even) {
    background-image: url("assets/witte-marmer.jpg");
}

tr:nth-child(even) td:nth-child(odd) {
    background-image: url("assets/zwarte-marmer.jpg");
}

.rechts {
    width: 800px;
    border: 1px solid red;
    float: right;
    background-image: url("assets/witte-marmer.jpg");
}

.schaakbord {
    float: left;
}